body {
    margin: 0;
    padding: 0px;
    background: black;
}

p {
    font-size: 9px;    
    line-height: 8px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;

    background-position: center;
    background: url(y.jpg) no-repeat center;
    background-attachment:local;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(225, 225, 255, 0);
}